[submodule "wlrs-auth"]
	path = wlrs-auth
	url = https://github.com/splurf/wlrs-auth.git

[submodule "wlrs-server"]
	path = wlrs-server
	url = https://github.com/splurf/wlrs-server.git

[submodule "wlrs-wasm"]
	path = wlrs-wasm
	url = https://github.com/splurf/wlrs-wasm.git
	branch = main
