.outer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner {
    height: 8vh;
    display: grid;
}

.input-1 {
    width: 20vw;
    height: 4vh;
    margin-left: 4vh;
    margin-right: 4vh;
    text-align: center;
    font-size: large;
}

.input-2 {
    height: 2vh;
    margin-left: 4vh;
    margin-right: 4vh;
}